# Node dependencies
node_modules/

# Optional npm cache directory
.npm/

# Optional yarn cache directory
.yarn/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage directory
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Docker-related
docker-compose.override.yml

# Editor directories and files
.vscode/
.idea/
*.swp

# Build artifacts
dist/
build/
